@page "/orders"
@using NicolaParo.BlazorMes.Models
@using NicolaParo.BlazorMes.ManagerApp.Services

@inject DataRepositoryService service;
@inject BrowserInterop browserInterop;

@if (orders is null)
{
    <em>Loading...</em>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>
                <th>Target Items</th>
                <th>Progress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.CustomerName</td>
                    <td>@order.ItemsCount</td>
                    <td>@order.GetProgressPercentage().ToString("0.00") %</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick='() => browserInterop.NavigateToAsync($"/orders/{order.MachineName}/{order.Id}/details")'>
                            <i class="oi oi-magnifying-glass"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button type="button" class="btn btn-primary" @onclick="OnCreateOrderClickedAsync"
    style="width: 120px; height: 120px; right: 20px; bottom: 20px; position: fixed; border-radius: 50%">
    <i class="oi oi-plus"></i>
</button>

@code {
    private ProductionOrder[] orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await service.ListOrdersAsync();
    }

    private async Task OnCreateOrderClickedAsync()
    {
        await browserInterop.NavigateToAsync("/orders/new");
    }
}