@page "/orders"
@using NicolaParo.BlazorMes.Entities.Models
@using NicolaParo.BlazorMes.ManagerApp.Services

@inject ProductionOrderRepositoryService service;

@if (orders is null)
{
    <em>Loading...</em>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Machine</th>
                <th>Order Id</th>
                <th>Customer</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.MachineName</td>
                    <td>@order.Id</td>
                    <td>@order.CustomerName</td>
                    <td>@order.ItemsCount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ProductionOrder[] orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await service.ListAsync();
    }
}